STATE_ENCRYPTION_KEY=
SAML2_BACKEND_CERT="-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
"
SAML2_BACKEND_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
"
OIDC_FRONTEND_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
"
CLIENT_DB_JSON="
  {
    \"oidc-test-client\": {
      \"response_types\": [
        \"id_token\",
        \"code\"
      ],
      \"redirect_uris\": [
        \"https://oidc-test-client.traefik.me/auth/callback\"
      ],
      \"client_secret\": \"oidc-test-secret\"
    }
  }
"
